/* Effective stylesheet produced by snapshot save */
body { background: transparent url("bg.gif") repeat scroll 0% 0%; font-family: "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif; font-size: 12px; color: rgb(0, 0, 0); }
div.main { margin: 30px auto; width: 990px; }
.font-klas { text-align: center; font-family: "lucida grande",tahoma,verdana,arial,helvetica,sans-serif; font-size: 14px; padding: 6px 4px 8px 0px; color: rgb(24, 165, 190); text-transform: uppercase; }
a { color: rgb(255, 255, 255); }
