/* Effective stylesheet produced by snapshot save */
body, div, h1 { font-family: "trebuchet ms",verdana,arial; margin: 0px; padding: 0px; }
body { background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); font-size: small; margin: 0px; padding: 0px; }
form { font-size: 10pt; margin-bottom: 20px; width: auto; }
